@using Raven.Workshop.Web.Helpers
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="span6">
        <div class="well">
            <a class="btn btn-large btn-block btn-primary" href="@Url.Action("Index", "Ex1")">Zadanie I - połączenie z bazą</a>
            @if (WorkshopHelper.IsConnected)
            {
                <a class="btn btn-large btn-block" href="@Url.Action("Index", "Ex2")">Zadanie II - CRUD</a>
                <a class="btn btn-large btn-block" href="@Url.Action("Index", "Ex3")">Zadanie III - statyczny indeks i zapytania Lucene</a>
                <a class="btn btn-large btn-block" href="@Url.Action("Index", "Ex4")">Zadanie IV - indeksy typu map-reduce</a>
                <a class="btn btn-large btn-block" href="@Url.Action("Index", "Ex5")">Zadanie V - transformacje</a>
            }
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <a class="btn btn-large btn-block btn-info" href="http://ravendb.net/" target="_blank">RavenDB.net</a>
            <a class="btn btn-large btn-block btn-warning" href="http://ravendb.net/docs" target="_blank">Dokumentacja</a>
            <a class="btn btn-large btn-block btn-danger" href="http://ravendb.net/download" target="_blank">Download</a>
        </div>
    </div>
</div>

