@model Raven.Abstractions.Data.DatabaseStatistics

@{
    ViewBag.Title = "Zadanie 1";
}

<div class="page-header">
    <h1>Zadanie I <small>połączenie z bazą i bazowy kontroler</small></h1>
</div>
<p class="lead">
    Zadaniem jest stworzenie głównego obiektu klienckiego RavenDB - <i>DocumentStore</i> oraz uzupełnienia klasy bazowej <i>RavenController</i>.
</p>

<ol>
    <li>Stworzenie i inicjalizacja statycznego obiektu DocumentStore</li>
    <li>Stworzenie bazy danych (studio lub kod)</li>
    <li>Inicjalizowanie obiektu sesji per akcja kontrolera</li>
    <li>Zapisywanie zmian na sesji po wykonaniu akcji</li>
</ol>

<hr/>

@if (Model == null)
{
    <div>DocumentStore niezainicjalizowany</div>
}
else
{
    <h3>Statystyki bazy: </h3> 

    <div class="row">
        <div class="span12">
            @Html.DisplayNameFor(model => model.DatabaseId): @Html.DisplayFor(model => model.DatabaseId)
        </div>
        <div class="span12">
            @Html.DisplayNameFor(model => model.CountOfDocuments): @Html.DisplayFor(model => model.CountOfDocuments)
        </div>
        <div class="span12">
            @Html.DisplayNameFor(model => model.CountOfIndexes): @Html.DisplayFor(model => model.CountOfIndexes)
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span11">
            @foreach (var index in Model.Indexes)
            {
                <div>@index.Name</div>
            }
        </div>
        <div class="span12">
            @Html.DisplayNameFor(model => model.LastDocEtag): @Model.LastDocEtag.ToString()
        </div>
        <div class="span12">
            @Html.DisplayNameFor(model => model.LastAttachmentEtag): @Model.LastAttachmentEtag.ToString()
        </div>
        <div class="span12">
            @Html.DisplayNameFor(model => model.CurrentNumberOfItemsToIndexInSingleBatch): @Html.DisplayFor(model => model.CurrentNumberOfItemsToIndexInSingleBatch)
        </div>
        <div class="span12">
            @Html.DisplayNameFor(model => model.CurrentNumberOfItemsToReduceInSingleBatch): @Html.DisplayFor(model => model.CurrentNumberOfItemsToReduceInSingleBatch)
        </div>
        <div class="span12">
            @Html.DisplayNameFor(model => model.ApproximateTaskCount): @Html.DisplayFor(model => model.ApproximateTaskCount)
        </div>
    </div>
}
