<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>RavenDB Workshop</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="nav" class="navbar navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/img/ravendb.png")" alt="ravendb" />
                </a>
            </div>
        </div>
    </div>

    <div id="content" class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
